[user]
	name = AUTHOR_NAME
	email = AUTHOR_EMAIL
[credential]
	helper = GIT_CREDENTIAL_HELPER
[alias]
	wtf = !$ZSH/bin/git-wtf
	rank-contributors = !$ZSH/bin/git-rank-contributors
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
	excludesfile = ~/.gitignore
	editor = vim
[apply]
	whitespace = nowarn
[difftool]
	prompt = false
[mergetool]
	keepBackup = false
[push]
	default = simple
