/cache
/lib

atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/blob-store
atom.symlink/compile-cache
atom.symlink/packages
atom.symlink/recovery
atom.symlink/split-diff
atom.symlink/storage
atom.symlink/nohup.out
atom.symlink/projects.cson

git/gitconfig.symlink

*.sublime-project
*.sublime-workspace
