@tab-height: 30px;

atom-dock.left .tab-bar {
  display: none;
}

.theme-atom-dark-ui {
  .tab-bar {
    background-color: rgb(108, 109, 105);
    box-shadow: none;
    height: (@tab-height + 10);

    .tab {
      box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
      line-height: @tab-height;

      &,
      &::before,
      &::after {
        background-color: rgb(65, 66, 61);
        background-image: none;
        height: @tab-height;
      }

      &::before {
        box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), -4px 0 4px rgba(0, 0, 0, 0.1);
      }

      &::after {
        box-shadow: inset -1px 1px 0 rgba(0, 0, 0, 0.1), 4px 0 4px rgba(0, 0, 0, 0.1);
      }

      &.active,
      &.active::after {
        box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.1);
        height: (@tab-height + 1);
      }

      &.active::before {
        box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.1);
        height: (@tab-height + 1);
      }

      .close-icon {
        line-height: @tab-height;
      }

      &.active .close-icon {
        line-height: (@tab-height - 1);
      }

      &.modified:not(:hover) .close-icon {
        top: 11px;
      }
    }
  }
}

.theme-atom-dark-syntax {
  .tab-bar {
    &::after {
      background-color: #000;
      border-color: #000;
    }

    .tab {
      &.active,
      &.active::before,
      &.active::after {
        background-color: #000;
      }
    }
  }
}
