"*":
  "atom-package-deps":
    ignored: [
      "linter-eslint"
      "linter-pylama"
    ]
  "atom-spotify2": {}
  core:
    customFileTypes:
      "source.ini": [
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        "stylelintrc"
        "eslintrc"
      ]
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "background-tips"
      "welcome"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "__pycache__"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 13
    invisibles: {}
    lineHeight: 1.3
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 4
    zoomFontWhenCtrlScrolling: false
  kite:
    showKiteTourOnStartup: false
  "linter-eslint":
    globalNodePath: "/usr/local"
  "linter-pylama":
    configFileLoad: "Use pylama config"
    configFileName: "setup.cfg"
    interpreter: "/$PROJECT/.venv/bin/python, python3, python"
  minimap:
    plugins:
      linter: true
      linterDecorationsZIndex: 0
  "release-notes":
    viewedVersion: "f0bd3b1"
  "split-diff":
    ignoreWhitespace: true
    syncHorizontalScroll: true
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
    squashDirectoryNames: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
