"*":
  "atom-ide-ui":
    use: {}
  "atom-package-deps":
    ignored: [
      "linter-eslint"
      "linter-pylama"
      "api-workbench"
      "linter-stylelint"
    ]
  "atom-spotify2": {}
  core:
    customFileTypes:
      "source.json": [
        "stylelintrc"
        "eslintrc"
      ]
      "text.html.twig": [
        "htm"
      ]
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "background-tips"
      "welcome"
      "whitespace"
      "language-javascript"
      "language-typescript"
      "ide-typescript"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "__pycache__"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Hack"
    invisibles: {}
    lineHeight: 1.3
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 4
    zoomFontWhenCtrlScrolling: false
  "gitlab-integration":
    token: "SW5HAQmz41cyifKbgjLZ"
    unsecureSsl: true
  "ide-typescript": {}
  kite:
    showKiteTourOnStartup: false
  "language-babel": {}
  "linter-eslint":
    global:
      globalNodePath: "/usr/local"
  "linter-pylama":
    configFileLoad: "Use pylama config"
    configFileName: "setup.cfg"
    interpreter: "/$PROJECT/.venv/bin/python, python3, python"
  "markdown-preview": {}
  minimap:
    plugins:
      linter: true
      linterDecorationsZIndex: 0
  "release-notes":
    viewedVersion: "f0bd3b1"
  "split-diff":
    ignoreWhitespace: true
    syncHorizontalScroll: true
  svgo:
    disable: "removeViewBox"
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
